# .clang-format
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
AccessModifierOffset: -4

# Pour les & dans les fonctions (résout les .hpp)
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
SpacesInAngles: Never

# Options anti-alignement pour les << (le cœur du problème)
AlignAfterOpenBracket: false
AlignOperands: DontAlign
BreakBeforeBinaryOperators: None
ContinuationIndentWidth: 4

# Force encore plus sur les streams <<
PenaltyBreakFirstLessLess: 0
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

SpaceBeforeParens: ControlStatements
Standard: Latest