# .clang-format
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

# Pour éviter l'erreur sur les templates >> et l'espace avant &
SpacesInAngles: Never

# Pour les lignes avec << "Bits errones"
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: None
AlignOperands: DontAlign

# Options de propreté
SpaceBeforeParens: ControlStatements

# Standard sans risque d'erreur (Latest = le plus récent supporté)
Standard: Latest